<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>230654055784-abcdefghijklmnop.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.230654055784-abcdefghijklmnop</string>
	<key>API_KEY</key>
	<string>AIzaSyAqCWig0L0spfRpBUsL_VsgwxwSqtKzIPI</string>
	<key>GCM_SENDER_ID</key>
	<string>230654055784</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anonymous.RN_ORLQB_APP</string>
	<key>PROJECT_ID</key>
	<string>firebase-orlqb</string>
	<key>STORAGE_BUCKET</key>
	<string>firebase-orlqb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:230654055784:ios:ad58ed108b8e4c2fe8f2dd</string>
	<key>DATABASE_URL</key>
	<string>https://orlqb.firebaseio.com</string>
</dict>
</plist>